/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slide{
  height: 100%;
  width: 180px;
  position: absolute;
  background-color: white;
  transition: 0.5s ease;
}

#infoDesc{
  padding: 5px, 0;
  display: block;
  transition: 0.2s ease;
}

[class$=api-load-alpha-banner] {
  display: none;
}

@font-face {
  font-family: myFirstFont;
  src: url(Winkle-Bold.ttf);
}

#info{
  font-family: myFirstFont;
  color: #065390;
  font-size: 40px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 15%;
}

body{
  margin: 0;
  padding: 0;
}

#map {
  height: 60vh;
}